@model MovieGallery.Models.Movie

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>@Model.DisplayText</h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>Movie ID:&nbsp;</label>@Model.Id</h5>
            <h5><label>Movie Title:&nbsp;</label>@Model.Title</h5>
            <h5><label>Rated:&nbsp;</label>@Model.Rated</h5>
            <h5><label>Length:&nbsp;</label>@Model.Length</h5>
            @if (Model.Actors.Length > 0)
            {
                <h5>Actors</h5>
                <ul>
                    @for (int i = 0; i < Model.Actors.Length; i++)
                    {
                        <li>@Model.Actors[i]</li>
                    }
                </ul>
            }
            </div>
            <p>@Html.Raw(Model.PlotHtml)</p>
    </div>
    <div class="col-md-6">
        <img src="/Images/@Model.CoverImageFileName" alt="@Model.DisplayText" class="img-responsive" />
    </div>
</div>

